#page_main_post {
  min-height: 72%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  animation: intro 0.3s both;
  animation-delay: 0.35s;
}
#page_main_post::after {
  clear: both;
  content: "";
  display: table;
}
.page-title {
  font-size: 3rem;
  padding: 0 1.2rem;
}
.page-date {
  padding: 0 3.6rem;
}
.page-categories {
  padding: 0 1rem;
}
.page-categories .page-categories-item {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 8px;
  text-decoration: none;
  border-bottom: 1px solid #bdc1c4;
  border-radius: 1px;
}
.page-categories .page-categories-item:link {
  text-decoration: none;
  color: #bdc1c4;
  border-bottom: 1px solid #bdc1c4;
}
.page-categories .page-categories-item:visited {
  text-decoration: none;
  color: #283d4b;
}
.page-categories .page-categories-item:hover {
  text-decoration: none;
  color: #5af;
}
.page-tags {
  padding: 0 3.6rem;
}
.page-tags .page-tags-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  text-decoration: none;
  border-bottom: 1px solid #bdc1c4;
  border-radius: 1px;
}
.page-tags a {
  color: #bdc1c4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.page-tags a:hover {
  color: #5af;
}
.page-tag {
  padding: 0 1rem;
}
.page-tag .page-tags-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  text-decoration: none;
  border-bottom: 1px solid #bdc1c4;
  border-radius: 1px;
}
.page-tag a {
  color: #bdc1c4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.page-tag a:hover {
  color: #5af;
}
.page article {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1.2rem;
}
.post-top-item {
  margin-left: 17%;
  margin-top: 0.8rem;
}
.img-center {
  display: block;
  margin: auto;
}
.img-center h1 {
  font-size: 3rem;
}
.img-center h2 {
  font-size: 2.8rem;
}
.img-center h3 {
  font-size: 2.6rem;
}
.img-center p,
.img-center li {
  font-size: 1.8rem;
}
.img-center a {
  color: #494e52;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.img-center a:hover {
  color: $theme-red;
}
.img-center .highlight {
  overflow: auto;
  margin: 0 0 1rem;
  padding: 0;
  background: #f8f8f8;
  color: #525252;
  line-height: 20px;
}
.img-center .gutter pre {
  padding-right: 0.8rem;
  padding-left: 0.7rem;
  background-color: #f8f8f8;
  color: #cfd8dc;
  text-align: right;
}
.img-center code {
  font-family: $font-family;
  padding: 0.2rem 0.3rem;
  background: rgba(27,31,35,0.05);
  word-wrap: break-word;
}
@media screen and (min-width: 66.67em) {
  #page_main_post {
    max-width: 996px;
  }
}
@media (max-width: 34em) {
  #page_header {
    box-shadow: 0 0 5px #ccc;
  }
  #page_main_post {
    margin-top: -1rem;
    margin-bottom: 1.6rem;
  }
  #page_main_post .page {
    box-shadow: 0 0 5px #ccc;
    padding-bottom: 10px;
  }
  #page_main_post .page-title {
    padding-top: 22.5px;
  }
  #page_main_post .page-date {
    padding-left: 22.5px;
  }
  #page_main_post .page-tags {
    padding-left: 22.5px;
  }
}
@media (min-width: 34em) {
  .page {
    width: 100%;
    margin-right: 0;
  }
  .page .page-title {
    padding: 0 3.6rem;
  }
  .page .page-date {
    padding: 0 3.6rem;
  }
  .page article {
    padding: 0 3.6rem 3.6rem;
  }
}
