.post-copyright {
  margin-left: 1.5rem;
  padding: 0.2em 0.2em;
  border-left: 2px solid #438cb5;
  background-color: #f9f9f9;
  line-height: 1.5;
  list-style: none;
}
.post-copyright li {
  margin: 8px 0;
}
